@import "../../../../styles/constants/index.scss";
@import "../../../../styles/_mixins.scss";

.statistics-block {
  position: relative;
  padding: 0 16px;
  width: 100%;
  max-width: 160px;
  min-height: 100vh;

  color: $white;
  background-color: $gainsboro;

  &__menu {
    width: 100%;
    max-width: 120px;

    position: absolute;
    top: 200px;
  }
}

.ant-btn {
  margin-bottom: 20px;
  width: 100%;
  border-radius: 30px;
  color: $white;
  background-color: $rockBlue;

  &--active {
    background-color: $dodgerBlue;
  }
}
