.left-sidebar {
    height: 100vh;
}

.ant-layout-sider-children .left-sidebar {
    height: 100%;
    margin-top: -0.1px;
    padding-top: 0.1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.ant-layout-sider {
    background-color: #e3e3e3;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: #1890ff;
    color: white;
    border-radius: 20px;
    padding: 0 50px;
}

.ant-menu-vertical .ant-menu-item {
    background-color: #99a8b9;
    border-radius: 20px;
    text-align: center;
    padding: 0 50px;
    color: white;
}
