

.right-sidebar{
  background-color: #e3e3e3;
  padding: 0 35px;
}


.avatar {
  display: flex;
  justify-content: space-between;
}

button {
  margin: 10px 0;
  width: 150px;
  padding: 0;
}

.ant-layout{
  background-color: #ffffff;
}
