/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;

$linkHoverColor: $black;
$bodyColor: $black;
$linkColor: $black;
$bodyBg: #e4e4e4;

$borderMain: #ced6af;
$borderDark: #6e774a;

$textPrimary: #ffffff;
$textSecondary: #2c4058;
$backgroundPrimary: #55b7ff;

$headerPrimary: rgba(225, 225, 225, 0.4);

$subtitlePrimary: #1c1c1b;

$hintColor: #e1e1e1;
$sliderCardBorder: #d7dbc8;

$iconGold: #ffd700;

$collapsBorder: #eaedde;
