// Где я беру название для цвета : https://www.htmlcsscolor.com/hex/626176

/**
 * Application initial colors
 */

$black: #0d0d0d;
$white: #ffffff;

$comet: #626176;
$ghostWhite: #f5f5fb;
$silver: #c4c4c4;
$havelockBlue: #5789cf;
$selectiveYellow: #fbbc05;
